.sidebar-wrapper {
    width: 248px;
}
.asams-modal {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.asams-modal::-webkit-scrollbar { 
    display: none;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    // background: url() calc(100% - 15px) 20px no-repeat;
    background: transparent;
    background-size: 7px 6px, 7px 6px;
    background-repeat: no-repeat;
    background-position: calc(100% - 16px), calc(100% - 10px);
    background-image: linear-gradient(45deg, transparent 50%, black 50%), 
    linear-gradient(135deg, black 50%, transparent 50%);
}